# Environment variables
PORT=8089
MONGODB_URL=mongodb://localhost:27017/trailidea_backend
SECRET_KEY=trailidea_secret_key

// .env
# Production - Donot push to github

EMAIL_USER="myemail@gmail.com"
EMAIL_PASS="idon't tell you"
CLIENT_URL="http://localhost:3000"